.backgroundModal.ModalNone{
  display: none!important;
}

.backgroundModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  left: 0;
}
.ModalTrack{
  /*border-radius: 16px 16px 0px 0px;*/
  overflow: auto;
}
.ModalTrack h6{
  text-align: left;
}
.ModalTrack .CourseCardControlCard{
  border: 1px solid #E7E8EE;
  border-radius: 12px;
}
.ModalTrack .d-block{
  overflow: inherit;
  position: relative;
  background: white;
  //border-radius: 16px;
}

.ModalTrack .ImgCloseBtn{
  border: inherit;
  background: none;
  right: 16px;
  top: 18px;
  z-index: 20000;
  position: absolute;
  cursor: pointer;
  outline: none;
}

.hideMobile.hideDesktop{
  display: none!important;
}
.hideDesktop{
  display: none;
}
.ModalTrack{
  display: initial;
}

@media screen and (min-width: 1000px) {
  .d-block{
    transform: scale(0);
    transition: all 0.5s;
    border-radius: 16px;
    &.active{
      transform: scale(1);
    }
  }

  .mobil{
    display: none;
  }
  .ModalContainerShad{
    width: 100vw;
    height: 100vh;
  }
  .ModalContainer{
    background: rgba(45, 43, 68, 0.6);
    z-index: 11000;
    position: fixed;
    top: 0;
    left: 0;
    //width: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    //transform: scale(0);
    opacity: 0;
    display: flex;
  }
  .ModalTrack{
    //transform: scale(0);
    flex-shrink: 0;
    z-index: 2000;
    position: absolute;
    height: max-content;
  }
  .ModalContainer.active{
    //transform: scale(1);
    opacity: 1;
    //width: 100vw;
  }
  .ModalContainer.active .ModalTrack{
    //transform: scale(1);
    /*z-index: 9000;*/
    //width: 100vw;

  }
}


@media screen and (max-width: 1000px) {

  .activeFirstModal{
    //transform: scaleX(0.98);
  }

  .notActiveFirstModal{
    //transform: scaleX(1) ;
  }
  .wrapHeaderModal{
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    border-radius: 16px 16px 0 0;


  }
  .maxHeight.active .d-block{
    height: 100%!important;
    background: white;
  }
  .deck{
    display: none;
  }
  .ModalContainerShad{
    //background: rgba(45, 43, 68, 0.3);
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 60;
    height: 100vh;
  }
  .ModalContainer.maxHeight.active .d-block .TextCenter{
    height: 100%;
  }

  .hideDesktop{
    display: inherit;
  }
  .hideMobile{
    display: none;
  }
  .ModalTrack h6{
    text-align: left;
  }
  .ModalTrack .CourseCardControlCard{
    border: 1px solid #E7E8EE;
    border-radius: 12px;
  }


  .ModalContainer{
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .d-block{
    transition: all 0.65s;
    animation-name: slidein;
    padding: inherit;
    opacity: 1;
    animation-delay: 0.3s;
    position: absolute!important;
    bottom: 0;
    max-height: 0;
    border-radius: 16px 16px 0 0;
    width: 100vw;

    &.touched{
      transition: all 0.65s, transform 0s;

      .modalContainer {
        overflow: hidden;
      }
    }
  }
  .d-block.active{
    position: absolute;
    bottom: 0;
    z-index: 1000;
    //animation-delay: 0.4s;
    max-height: calc(100% - 80px);
    min-height: 10px;
  }


  .ModalContainer.active .ModalTrack{
    height: calc(100%);
    display: block;
  }


  .ModalTrack .ImgCloseBtn{
    border: inherit;
    background: none;
    right: 16px;
    top: 18px;
    z-index: 20000;
    position: absolute;
  }

  .ModalTrack{
    background: rgba(45, 43, 68, 0.3);
    z-index: 20!important;
    padding-top: 0;
    height: calc(0%);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

  }
  .modalContainer{
    //overflow-y:auto;
  }
  @keyframes slidein {
    from {
      height: 0;
    }
    to {
      height: 100%;

    }
  }

}
