{
  "semi": false,
  "tabWidth": 2,
  "quoteProps": "preserve",
  "printWidth": 90,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "off"
}
