.wrap {
  padding: 18px 36px 36px 40px;
  text-align: left;
  width: 520px;

  .title {
    max-width: calc(100% - 10px);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1F1F22;
  }

  textarea, input {
    outline: none;
    border-radius: 8px;
    padding-left: 16px;
    width: 100%;
    min-width: 142px;
    border-color: #E7E8EE;
    border-width: 1px;
    border-style: solid;

    transition: border-color 0.3s;

    &:focus {
      border-color: #AE78FE;
    }

  }

  .validation{
    border-color: red;
  }

  .containerText {
    text-align: left;
    margin-top: 22px;

    textarea {
      padding-top: 10px;
      resize: none;
      height: 120px;
    }
  }

  .containerEmail {
    margin-top: 16px;
    margin-bottom: 24px;
    input {
      min-height: 40px;
    }
  }

  .caption {
    color: var(--color-12);
    white-space: break-spaces;
  }


  .containerButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .btn {
      width: 100%;
      pointer-events: all;
    }
  }
}


.wrap {
  padding: 18px 36px 36px 40px;

  .RequestSent {
    display: grid;

    .rotateWrap{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 27px;

      .heartImg {
        margin: 24px auto;
      }

      .title {
        width: max-content;
        text-align: left;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #1F1F22;
        margin-bottom: 20px;
      }
    }


    .gratitude {
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #1F1F22;
    }

    .containerButton {
      display: flex;
      justify-content: center;

      .closeModal {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 10px 10px 10px;
        color: #FFFFFF;
        background: #8533FF;
        border-radius: 8px;
        min-width: 142px;
      }
    }
  }
}





@media screen and (max-width: 1000px) {
  .wrap {
    width: unset;
    max-width: none;
    min-width: inherit;
    min-height: max-content;

    @media screen and (max-width: 450px) {
      .containerButton {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
      }
    }



    .RequestSent {
      min-width: revert;


      .rotateWrap{
        flex-direction: column-reverse;
        margin-bottom: 0;

        .title{
          margin-bottom: 20px;
        }
      }

      .containerButton {
        display: grid;
       grid-template-columns: 1fr;

        .closeModal {
          width: 100%;
        }
      }
    }
  }
}

