.professionCareerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  padding: 24px;
  border: 1px solid #E7E8EE;
  border-radius: 16px;
  margin-bottom: 24px;

  @media screen and (max-width: 760px) {
    margin-bottom: 91px;
  }


  &Title {
    font-weight: 600;
    font-size: 16px;
    color: #1F1F22;
    margin-bottom: 16px;
  }

  .professionCareerFlexWrapperSlider{
    display: flex;
    flex-direction: column;
    width: 45%;
    flex-grow: 3;
  }

  .professionCareerFlexWrapperActivity{
    display: flex;
    flex-direction: column;
    width: 45%;
    flex-grow: 3;
    //max-width: 400px;

  }

  .activitiesBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 3;

    &Item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: calc(50% - 10px);
      min-width: 250px;
      //flex-shrink: 1;

      @media screen and (max-width: 760px) {
        width: 100%;
      }


        svg {
        margin-right: 16px;
      }

      &Text {
        font-weight: 400;
        font-size: 14px;
        color: #1F1F22;
      }
    }
  }
}
