.add-button {
  font-weight: 700;
}

.blockMyPreset.main {
  background: inherit;
}

.blockMyPreset span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6E6D79;
}

.prompt button {
  padding-left: inherit;
  text-align: left;
  color: #8533FF;
  background: inherit;
  border: inherit;
}

.prompt span {
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6E6D79;

}

.blockMyPreset {
  gap: 32px;
  width: 100%;
  background: #F3F3F8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  /*padding-top: 64px;*/
  /*padding-bottom: 64px;*/
  border-radius: 20px;
}

.selectedPresetsContainer {
  position: relative;
  /*padding-right: 20px;*/
  /*padding-left: 20px;*/
  max-height: 100%;
  /*background: rgb(243, 243, 248);*/
  /*border-radius: 12px;*/
}

.scrollBtn {
  overflow: hidden;
  transition: all 0.3s;
  padding: 0;
  position: absolute;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
  right: -15px;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 26px 11px rgba(100, 53, 165, 0.01), 0px 15px 9px rgba(100, 53, 165, 0.03), 0px 7px 7px rgba(100, 53, 165, 0.05), 0px 0px 4px rgba(100, 53, 165, 0.06), 0px 0px 0px rgba(100, 53, 165, 0.06);
}

.scrollBtn.left {
  left: -15px;
  transform: scaleX(-1);
}


.leftSlide .presets {
  /*min-width: 437px;*/
  margin-bottom: 16px;
}

.leftSlide {
  display: flex;
  transition: all 0.3s;
  height: 320px;
  border-bottom: 1px solid rgba(231, 232, 238, 0);
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.leftSlide.hidden {
  max-height: 0;
  border-bottom: 1px solid #E7E8EE;
}


.leftSlide.hidden .scrollBtn.right {
  height: 0;
  width: 0;
  top: calc(50%);
  right: 0;
}

.leftSlide.hidden .scrollBtn.left {
  height: 0;
  width: 0;
  top: calc(50%);
}

.leftSlide.hidden-right .scrollBtn.right {
  height: 0;
  width: 0;
  top: calc(50%);
  right: 0;
}

.leftSlide.hidden-left .scrollBtn.left {
  height: 0;
  width: 0;
  top: calc(50%);
  left: 0;
}

.prompt {
  width: 257px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

@media screen and (max-width: 879px) {
  .prompt button {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .blockMyPreset.main {
    display: flex;
    flex-direction: column;
    height: unset;
  }


  .selectedPresetsContainer .flexPreset {
    /*min-width: 300px;*/
    min-width: 100%;
  }

  .leftSlide.activ {
    display: flex;
    max-height: 300px;
    transition: all 0.5s;
    height: calc(100%);
    /*transition: opacity 0.3s 0.3s, transform 0s;*/

  }

  .leftSlide.noActiv {
    /*transition: opacity 0.3s 0.3s, transform 0s;*/
    max-height: 0;
    height: calc(0%);
    transition: all 0.5s;
    transition-duration: 0.3s;
  }
}
