@tailwind base;

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url(/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Black";
    src: local("Montserrat-Black"),
    url(/fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: local("Montserrat-ExtraBold"),
    url(/fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
}

@tailwind components;

body {
    font-family: "Montserrat";
    font-style: normal;
    color: white;
    background: black;
}

header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 84px;
    margin: 0px auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.font-Montserrat {
    font-family: "Montserrat";
    font-style: normal;
}

.font-Montserrat-ExtraBold {
    font-family: "Montserrat-ExtraBold";
    font-style: normal;
}

.Montserrat-Black {
    font-family: "Montserrat-Black";
    font-style: normal;
}

.main-gradient {
    background: radial-gradient(
            circle,
            rgba(50, 187, 129, 0.2) 0%,
            rgba(41, 128, 164, 0.2) 45%,
            rgba(24, 25, 51, 0.2) 100%
    );
    color: white;
    min-height: 100vh;
}

.card-bg {
    background-color: rgba(0, 0, 0, 0.3);
}

@tailwind utilities;
