.starAnimation{
  transform: scale(1);
  transform-origin: center;
  animation:  2s linear infinite alternate motionAnimation;
}
@keyframes motionAnimation {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}
.hand{
  transform: rotate(0);
  transform-origin: center;
  animation:  2s linear infinite alternate handAnimation;
}
@keyframes handAnimation {
  from { transform: rotate(0deg); }
  to { transform:  rotate(10deg); }
}
