.spinner-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  animation: loader 1s ease-in-out infinite;

  //.spinner{
  //transform-origin: center;
  //  animation: loader 1s ease-in-out infinite;
  //}
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
