.disciplineHeaderContainer {
  min-height: 120px;
  padding: 32px 36px;
}

.keywords-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.disciplineModalContainer {
  min-height: 388px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.disciplineModalContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 22px 32px 36px;

}

.course-of-disc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 12px;
  text-align: left;
}

.classesNameDisc {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: left;
}

.classesNameDisc::first-letter {
  text-transform: capitalize;
}

.disciplinesElements {
  width: 100%;
  margin-bottom: 20px;
}

.course-of-disc::first-letter {
  text-transform: capitalize;
}

.disciplinesElement {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1F1F22;
}

.disciplinesElementsCount {
  color: #B7B6BC;
  padding-right: 25px;
  width: 20px;
}

.disciplinesElementsContainer {
  width: 100%;
  max-height: max(360px, 50vh);
  overflow-y: auto;
  padding-right: 0px;
}

.disciplinesElementsContainer::-webkit-scrollbar {
  width: 6px;
  background: rgba(243, 243, 248, 0.5);
}

.disciplinesElementsContainer::-webkit-scrollbar-thumb {
  background: #e7e8ee;
  border-radius: 6px;
}

.disciplines-elements__name {
  margin-left: 30px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.ContainerNameButton {
  padding: 30px;
  display: flex;
  gap: 12px;
  align-items: center;
}


.ListExamModal {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1F1F22;
  border-bottom: 1px solid #E7E8EE;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.ListExamModal:last-child{
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}


.ExamModalContainer {
  background: white;
  overflow-y: scroll;
  width: 422px;
  height: 532px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 0 36px;
}

.KeywordsModalContentDisciplines {
  background: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.KeywordsModalHeader {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1F1F22;
  margin: 0;
}

.keywords-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: max(592px, 60vh);
  overflow-y: auto;
}

.keywords-container::-webkit-scrollbar {
  width: 6px;
  background: rgba(243, 243, 248, 0.5);
}

.keywords-container::-webkit-scrollbar-thumb {
  background: #e7e8ee;
  border-radius: 6px;
}

@media screen and (max-width: 1000px) {
  .ExamModalContainer {
    overflow-y: scroll;
    width: initial;
    height: initial;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 36px;
  }
  #ExamModalDiploma___BV_modal_content_ {
    background: white;
  }
}
