import React from 'react';
import './index.scss';

type {{pascalCase componentName}}Props = {
// Declare your props here
};

export default function {{pascalCase componentName}}(props: {{pascalCase componentName}}Props) {
return (
<div className="{{camelCase componentName}}">
  {/* Add the content or children you want to render here */}
</div>
);
}
