@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../public/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../public/fonts/Inter-Medium.ttf') format('truetype');
}

body {
   /*overflow-y: hidden;*/
}

body svg {
    vertical-align: unset;
}

button{
    outline: none !important;
    cursor: pointer;
    border: none ;
    background: none;
    text-decoration: none;
}

a:hover{
    color: var(--color-5-dark) !important;
}

a button:hover {
    text-decoration: none;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../../public/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../public/fonts/Inter-Bold.ttf') format('truetype');
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    color: var(--main-color);
}



/*.TrajectoriesLinkBack {*/
/*    background-color: var(--bg-color);*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #6E6D79;*/
/*    font-weight: 400;*/
/*    font-size: 12px;*/
/*    cursor: pointer;*/
/*    border-radius: 20px;*/
/*}*/

.MainButton {
    transition: 0.3s;
    align-self: center;
    background: var(--color-5-dark);
    color: white;
    font-weight: 500;
    border: 0;
    border-radius: 8px;
}

.MainButton:hover {
    background: #AE78FE;
    color: white;
}

.MainButton:active {
    background: #7328E2;
    color: white;
}

.SecondaryButton {
    color: var(--color-5-dark);
    border-radius: 8px;
    background: white;
    border: 1px solid var(--color-5-dark);
    transition: 0.3s;
    font-weight: 500;
}

.SecondaryButton:hover {
    background: #F3F3FE;
    color: #AE78FE;
}

.SecondaryButton:active {
    background: #F3F3FE;
    color: #7328E2;
}

.sticky-header {
    background-color: var(--bg-color);
    transition: var(--bg-transition);
}






.fullWidth {
    width: 100vw !important;
    padding-left: 32px;
    transform: translateX(-32px);
    padding-right: 32px;
}

@media screen and (max-width: 1000px) {
    .fullWidth {
        /*width: 100vw;*/
        transform: translateX(-16px);
        padding-left: 16px;
        padding-right: 16px;
    }
    .fullWidthMobile {
        transform: translateX(-16px);
        padding-left: 16px;
        padding-right: 16px;
    }
}
