.MainSkeleton {
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.1) !important;
  background-image: linear-gradient(-45deg, var(--skeleton-base-color) 0, var(--skeleton-base-color) 45%, var(--skeleton-shine-color) 50%, var(--skeleton-base-color) 55%, var(--skeleton-base-color) 100%) !important;
  content: "" !important;
  animation: skeleton-shine 2s infinite;
  background-size: 400% 400% !important;
  backdrop-filter: blur(30px);
  border: none !important;
  z-index: 1000;
  pointer-events: none;

  &::placeholder {
    opacity: 0 !important;
  }

  &::before {
    opacity: 0;
  }

  &::after {
    opacity: 0;
  }

  div, span, img, video, p, source {
    opacity: 0 !important;
  }
}

@keyframes skeleton-shine {
  from {
    background-position: right;
  }

  to {
    background-position: left;
  }
}
