:root {
    --text-secondary: #B7B6BC;
    --main-color: #1F1F22;
    --color-secondary: #EEEEFF;
    --color-1: #7CCBF8;
    --color-2: #F9CF6B;
    --color-3-dark: #37CE86;
    --color-3: #89D766;
    --color-3-light: #C6F0B3;
    --color-3-verylight: #DBFFE1;
    --color-4: #ED81C1;
    --color-4-light: #FCD9FF;
    --color-5: #C766D7;
    --color-5-dark: #8533FF;
    --color-6: #62CFD7;
    --color-6-light: #C5E9F0;
    --color-7: #78A3EC;
    --color-7-light: #C1D5F6;
    --color-8: #677CE8;
    --color-10-dark: #FF824D;
    --color-10: #FAB791;
    --color-10-light: #FCE8B9;
    --color-11: #646CB4;
    --color-12: #F58C83;
    --color-13: #D4E56B;
    --gray-100: #F3F3F4;
    --gray-10: #F8F8F8;
    --gray-dark: #B1AFC4;
    --gray: #6E6D79;

    --bg-transition-duration: 0.3s;
    --bg-transition: background-color var(--bg-transition-duration) ease;

    /*Shadow*/
    --default-shadow: 0px 0px 1px rgba(31, 31, 34, 0.1), 0px 4px 10px rgba(31, 31, 34, 0.06);

    /*Brand font color*/
    --color-brand: var(--color-5-dark);

    /*Preset card*/
    --bg-preset: #F3F3F8;
    --bg-preset-hover: #EBE9F3;
    --bg-preset-active: #E7E4F1;

    /*Subject item*/
    --bg-subject: #FFFFFF;
    --bg-subject-hover: #F7F5FA;
    --bg-subject-active: #E7E4F1;

    /*Rows and tags*/
    --bg-tech: #FFFFFF;
    --bg-tech-hover: #F3F3F8;
    --bg-tech-active: #EBE9F3;
    --bg-tech-disabled: #6E6D79;

    /*Skeletons*/
    --skeleton-base-color: #ddd;
    --skeleton-shine-color: #e8e8e8;

}
