.Header {
  //background: white;
  padding: 24px 0 0 0;
  position: relative;
  width: calc(100vw - 80px);
  overflow: hidden;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .Logo {
    &.preAnimated {
      right: calc(100% - 209px);
      width: 209px;
    }

    transition: all 2s;
    position: absolute;
    right: -134px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 209px;
    overflow: hidden;

    .LogoImg {
      flex-shrink: 0;
      cursor: pointer;
    }

    .LogoText {
      transition: all 2s;
      margin: 0;
      padding: 0;
      margin-left: 24px;
      font-size: 18px;
      font-weight: normal;
      flex-shrink: 0;
    }
  }

  .TrajectoriesLinkBack {
    transition: all 2s;
    position: absolute;
    left: 0;


    &.preAnimated {
      left: -100%;
    }

    .Navigation {
      display: flex;
      color: white;

      .NavItem {
        background-color: var(--color-brand);
        max-width: 36px;
        white-space: nowrap;
        height: 36px;
        border-radius: 18px;
        overflow: hidden;
        padding: 4px;
        display: grid;
        grid-template-columns: 24px auto;
        column-gap: 7px;
        cursor: pointer;
        border: 2px solid var(--bg-color);
        transition-duration: 0.3s;
        transition-property: max-width, transform;

        &:disabled{
          cursor: unset;
        }

        &:hover:not([disabled]){
          transform: scale(1.015);
        }

        .StepTitle {
          color: #F3F3F8;
          margin-top: 1px;
        }

        .Icon {
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: grid;
          align-items: center;
          justify-content: center;

        }

        &.prev {
          background-color: #DEC7FF;

          .withIcon svg {
            fill: var(--color-brand);
          }
        }

        &.next {
          background-color: #E7E8EE;

          .withIcon svg {
            fill: var(--text-secondary);
          }
        }

        &.ActiveItem {
          max-width: 300px;
          padding-right: 8px;

          .Icon {
            background-color: white;
            &.withIcon svg {
              fill: var(--color-brand);
            }
          }
        }
      }

    }


    .BackArrow {
      //margin-right: 4px;
    }

    .BackText {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      white-space: nowrap;
      transition: all 1s;
      width: 0
    }
  }
}


@media screen and (max-width: 765px) {
  .sticky-header-0 {
    transition: all 0.2s;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(115, 40, 226, 0);

  }
  .sticky-header-0.isSticky {
    padding-left: 30px;
    border-bottom: 1px solid rgba(115, 40, 226, 0.3);
  }

  .Header {
    width: inherit;
    padding: inherit;

    .Logo {
      transition: initial;
      top: inherit;
      transform: inherit;
      right: inherit;
      left: inherit;
      position: inherit;
      width: 100%;
      display: flex;
      justify-content: center;

      &.preAnimated {
        right: inherit;
        width: 100%;
      }
    }

    .TrajectoriesLinkBack {
      transition: all 0s;
      position: fixed;
      top: 23px;
      left: 16px;
      z-index: 1600;
      box-shadow: 0 0 4px rgba(115, 40, 226, 0.2);
    }
  }
}

