.Header {
  //background: white;
  padding: 24px 0 0 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .Logo {
    z-index: 100;
    &.hiddenOnSmallMobile{
      transform: scale(0.2);
      opacity: 0;
      right: -200px;
    }
    &.preAnimated {
      right: calc(100% - 209px);
      width: 209px;
    }

    transition: all 2s;
    position: absolute;
    right: -134px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 209px;
    opacity: 1;
    overflow: hidden;

    .LogoImg {
      flex-shrink: 0;
      cursor: pointer;
    }

    .LogoText {
      transition: all 2s;
      margin: 0;
      padding: 0;
      margin-left: 24px;
      font-size: 18px;
      font-weight: normal;
      flex-shrink: 0;
    }
  }

  .TrajectoriesLinkBack {
    transition: all 2s;
    position: absolute;
    left: 0;


    &.preAnimated {
      left: -100%;
    }

    .Navigation {
      display: flex;
      color: white;
      align-items: center;
    }
  }
}


@media screen and (max-width: 765px) {
  .sticky-header-0 {
    transition: all 0.2s;
    //padding-bottom: 8px;
    //border-bottom: 1px solid rgba(115, 40, 226, 0);
    //border-radius: 50px;
    //box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
  //.sticky-header-0.isSticky {
  //  padding-left: 30px;
  //  border-bottom: 1px solid rgba(115, 40, 226, 0.3);
  //}

  .Header {
    width: 100%;
    padding: inherit;

    .Logo {
      top: inherit;
      transition: all 0.4s;
      transform: scale(0.75);
      right: -125px;
      display: flex;
      justify-content: center;

      &.preAnimated {
        right: calc(50% - 209px / 2);
        transform: scale(1);
      }
    }

    .TrajectoriesLinkBack {
      left: 1px;
      &.preAnimated {
        left: 1px;
      }
    }
  }
}

