.innerWrapper {
  display: flex;
  gap: 16px 20px;
  align-items: center;

  &.mobilePlayerWrap {
    flex-direction: column;
    align-items: flex-start;
  }

  &.desktopPlayerWrap {
    flex-direction: row;
  }


  .player {
    width: 100%;
    border: none;
    border-radius: 8px;

  }

  .preview {
    width: 152px;
    height: 82px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      transition: background-color 0.3s;
    }

    &:hover:before {
      background-color: rgba(31, 31, 34, 0.45);
      background-image: url("../play.svg");
      background-size: 22.5px 26px;
      background-position: 50% 50%;
      background-repeat: no-repeat;


      //background: linear-gradient(0deg, rgba(31, 31, 34, 0.45), rgba(31, 31, 34, 0.45)), url(../yt_icon_mono_dark.png);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.modalPlayer {
  width: 80vw;
  //height: 45vw;
  display: grid;
  padding: 50px 20px 20px 20px;

  .player {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
  }
}


@media screen and (max-width: 1000px) {
  .modalPlayer {
    width: 100%;
    height: calc(100vw * 9 / 16);
  }
}
