.flagIcon{
  transition: transform 0.2s;
  transform: rotate(-5deg) translateY(0px) translateX(-2px);
}

.current{
  .flagIcon{
    transition: transform 0.2s 0.5s;
    transform: rotate(0deg) translateY(1px) translateX(0px);
  }
}