.magnifierWrap {
    .rays {
      transform-box: fill-box;
      transform-origin: center;
      animation: 1s linear infinite alternate motionAnimationRaysA;

  }
}


@keyframes motionAnimationRaysA {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
