.WarningCard {
  min-height: 72px;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--bg-warning-card, #fff);
  position: relative;

  &.withCross {
    padding-right: 42px;
  }

  .closeBtn {
    padding: 0;

    position: absolute;
    top: 12px;
    right: 16px;
    width: 16px;
    height: 16px;
    display: grid;
    justify-items: center;
    align-items: center;
  }
}

.sideAppearanceAnimation {
  z-index: 1000;
  position: fixed;
  transition-property: right;
  transition-duration: .4s;
  bottom: 32px;
  right: 16px;
}

.sideAppearanceAnimationNone {
  z-index: 1000;
  position: fixed;
  right: -600px;
  overflow: hidden;
  transition-property: right;
  transition-duration: .4s;
  bottom: 32px;
}

.showNote {
  max-height: 200px;
  transition: max-height 0.2s linear;
}

.hideNote {
  max-height: 0;
  transition: max-height 0.2s linear;
}
