.flexPreset {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  .preset {
    overflow: hidden;
    padding: 16px;
    gap: 20px;
    background: #F3F3F8;
    border-radius: 12px;
    height: 100%;

    .smallTitle {
      gap: 6px;
      display: flex;
      flex-wrap: wrap;

      .keywordspreset {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        background: #D8D7FE;
        border-radius: 8px;
        padding: 8px 12px;
        display: flex;
        flex-wrap: wrap;
      }
      .modalKeywords {
        font-size: 12px;
        line-height: 15px;
        color: #8533FF;
        padding: 8px 12px;
        background: #EBEBFF;
        border-radius: 8px;
        border: inherit;
        height: 31px;
      }
    }

    .presetTitleImg {
      display: flex;
      justify-content: space-between;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #1F1F22;
      img {
        margin-right: 12px;
      }
      .presetFlex {
        display: flex;

        .presetIconFlex {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;

          .tag {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #1F1F22;
            display: flex;
            background: #F9CF6B;
            border-radius: 8px;
            padding: 8px;
            align-items: center;
            &.mobil {
              display: none
            }
          }
        }
      }
      .pluse {
        padding: inherit;
        background: white;
        width: 28px;
        height: 28px;
        border-radius: 8px;
        border: inherit;
        img {
          margin-right: inherit !important;
        }
        &.noActiv img {
          transform: rotate(-180deg);
          transition-duration: 0.3s;
        }
        &.activ img {
          transform: rotate(0);
          transition-duration: 0.3s;
        }
      }
    }
    .presetTitle {
      white-space: nowrap;
      margin-top: 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #1F1F22;
      margin-bottom: 12px;
    }
    &.activ{
      &:hover {
        transition: box-shadow .2s;
        box-shadow:
                0px 26px 11px rgba(100, 53, 165, 0.01),
                0px 15px 9px rgba(100, 53, 165, 0.03),
                0px 7px 7px rgba(100, 53, 165, 0.05),
                0px 0px 4px rgba(100, 53, 165, 0.06),
                0px 0px 0px rgba(100, 53, 165, 0.06);
      }
    }
  }
}



@media screen and (max-width: 1000px) {
  .flexPreset {
    min-width: 290px;
    width: 100%;
    max-width: inherit;
    .preset {
      margin-bottom: inherit !important;
      min-width: 100%;
      width: 100%;
      .presetTitleImg {
        justify-content: space-between;
        .presetFlex {
          display: flex;
          gap: 16px;
          align-items: center;
          .presetIconFlex {
            .tag {
              &.mobil {
                display: inherit
              }
            }
          }
        }

      }
    }
  }
}
