//
//.glowingThread{
//  fill: #6c6c6c;
//  animation:  2s linear infinite alternate motionAnimationGlowingThread;
//}
//.rays{
//  fill: white;
//  animation:  2s linear infinite alternate motionAnimationRays;
//}
//.lampColor{
//  fill: white;
//  animation:  2s linear infinite alternate motionAnimationLampColor;
//}
//@keyframes motionAnimationGlowingThread {
//  from {  fill: #1F1F22; }
//  to {  fill: #c07507; }
//}
//@keyframes motionAnimationLampColor {
//  from {  fill: white; }
//  to {  fill: #F9CF6B; }
//}
//@keyframes motionAnimationRays {
//from {   fill:white }
//to {  fill: #F9CF6B; }
//}
