
.NavItem {
  transition: all .3s ease-in-out;

  transform: translateX(0);
  overflow: hidden;
  cursor: default;
  white-space: nowrap;
  opacity: 1;

  background-color: var(--color-brand);
  border: 2px solid var(--bg-color);

  max-width: 40px;
  height: 40px;
  border-radius: 20px;

  padding: 4px;
  display: flex;
  align-items: center;
  gap: 8px;

  &.notDisplayed {
    max-width: 20px;
    height: 20px;
    opacity: 0;
  }

  &.last {
    cursor: pointer;

    &:hover{
      .Icon{
        transform: scale(1.2);
      }
    }
  }

  &.prev, &.last {
    background-color: #DEC7FF;

    .Icon {
      &.withIcon svg {
        fill: var(--color-brand);
      }
    }
  }

  &.next, &.further {
    background-color: #E7E8EE;

    .Icon {
      &.withIcon svg {
        fill: var(--text-secondary);
      }
    }
  }

  &.current {
    max-width: 170px;

    .Icon {
      background-color: white;

      & svg {
        fill: var(--color-brand);
      }
    }
  }

  .StepTitle {
    color: #F3F3F8;
    margin-right: 8px;
  }

  .Icon {
    transition: all 0.2s;

    transform: scale(1);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .NavItem {
    &.notDisplayed {
      max-width: 30px;
    }
  }
}